@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1B1C24;
  align-items: center;
  color: #fff;
  text-align: center;
  margin: 0;
}

header {
  margin: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2029;
  padding: 5px 20px;
  height: 50px;
  box-shadow: 0 0 7px #000;
}

nav {
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav a:hover {
  color: #9f38ee;
}

nav a,
#right a {
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px; 
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

#right a:hover {
  color: #9f38ee;
}

#form-top {
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
  display: flex;
}

.search-bar-top {
  color: #ffffff;
  font-size: 1.5em;
  width: 300px;
  height: 45px;
  border-radius: 6px 0 0 6px;
  background-color: #35363E;
  border: none;
  padding-right: 45px;
  font-family: 'Roboto', sans-serif;
}

.search-bar-top::placeholder {
  color: #ADB0B7;
}

.search-bar-top:focus {
  outline: none;
  border-color: transparent;
}

.search-enter-top {
  width: 45px;
  height: 47px;
  background-color: #35363E;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease;
  margin-left: 0.5px;
  z-index: 2;
  font-size: 1.9em;
  text-align: center;
  cursor: pointer;
}

.search-enter-top:hover {
  color: #9f38ee;
}

.main-title {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  font-weight: 700;
}

#sounds {
  margin-right: 100px;
  align-items: center;
  text-align: center;
  z-index: 1;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 13px;
}

.sound {
  z-index: 2;
  padding: 10px;
  width: 200px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: #25262E;
  overflow: hidden;
}

.soundbtn {
  background: url(/img/page/btn.png) no-repeat center center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  background-size: contain;
  cursor: pointer;
}

.soundbtn:active {
  background: url(/img/page/btn-pressed.png) no-repeat;
}

.soundtitle,
.release {
  margin: 7px;
  text-align: left;
}

.soundtitle { 
  font-size: 1.6em;
}

.release {
  font-size: 1.4em;
}

#settings {
  box-shadow: 0 0 7px #000;
  background-color: #1B1C24;
  border-radius: 12px;
  top: 50%;
  z-index: 9999;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 55vw;
  height: 75vh;
  flex-direction: column;
  display: none;
  padding: 10px;
}

#settingsheader {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settingsclose {
  margin: 0 0 20px 0;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.settingsclose i {
  color: #ff0000;
  font-size: 2.2em;
}

#settingsmain {
  display: flex;
  margin-top: 0 auto;
  flex-direction: column;
  padding: 20px 0;
}

label {
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#volume {
  width: 70%;
  margin: 0 auto 20px auto;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  background: #35363E;
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.3s;
}

#volume:hover {
  opacity: 1;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9f38ee;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

#volume::-webkit-slider-thumb:hover {
  background: #9f38ee;
  box-shadow: 0 0 10px rgba(159, 56, 238, 0.8);
}

#volume::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9f38ee;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(159, 56, 238, 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

#volume::-moz-range-thumb:hover {
  background: #ff4444;
  box-shadow: 0 0 10px rgba(159, 56, 238, 0.8);
}

.settingsbtn {
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #35363E;
  font-size: 1.6em;
  padding: 10px 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.settingsbtn:hover {
  background-color: #50515b;
}

#links {
  display: flex;
  flex-direction: column;
  background-color: #25262E;
  height: 100%;
  text-align: left;
  padding: 15px;
}

.link {
  text-decoration: none;
  color: #fff;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: color 0.3s ease;
  font-size: 1.8em;
}

.link:hover {
  color: #9f38ee;
}




